.ui-state-disabled {
	opacity: 1!important;
	filter: Alpha(Opacity=100)!important;
}

.ui-state-default a { color: white!important; }

.ono_wrap {
	background-image: none;
}

#wrap {
	padding: 15px;
}

.ssquiz_settings legend i {
	color: grey;
	padding-right: 15px;
}

.ssquiz_settings form{
	margin-top: 20px;
}

.ssquiz_settings section{
	width: 75%
}

.ono_wrap .wp-switch-editor {
	height: auto;
}

.ssquiz_right {
	background-color: #F5FFF5!important;
}

#wrap .ui-state-default {
	padding: 8px 0px;
	list-style: none;
	background-color: #f5f5f5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	line-height: 30px;
	margin-bottom: 3px;
	border:#DDD solid 1px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#wrap .ui-state-disabled {
	background-color: #DADADA;

}

#wrap .label {
	margin-left: 10px;
}

#wrap .ui-state-disabled .sdiv1 {
	margin-left: 10px;
	width: 70px;
}

#wrap .ui-state-disabled .sdiv2{
//	font-weight:bold;
}

#ssquiz_sortable .sdiv1 {
	width: 50px;
	float: left;
	margin-left: 20px;
}
#ssquiz_sortable .sdiv2 {
	width: 40%;
	float: left;
	height: 30px;
	overflow: hidden;
	padding-right: 25px;
}

#ssquiz_sortable .sdiv3 {
	float: right;
	margin-right: 30px;
}

.sdiv4 {
	float: left;
	width: 20%;
	overflow: hidden;
	padding-left: 10px;
}

.bs-docs-sidenav {
	width: 228px;
	right: 10px;
	top: 150px;
	margin: 30px 0 0;
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.bs-docs-sidenav li {
	margin-bottom: 0px;
}

.bs-docs-sidenav > li > a {
	display: block;
	width: 190px \9;
	margin: 0 0 -1px;
	border: 1px solid #e5e5e5;
	padding: 10px!important;
	font-size: 16px!important;
}
.bs-docs-sidenav > li:first-child > a {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
	position: relative;
	z-index: 2;
	border: 0;
	text-shadow: 0 1px 0 rgba(0,0,0,.15);
	-webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
	-moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
	box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

.ssquiz_settings section small {
	margin-left: 30px;
}

.ssquiz_settings section{ position:relative; }
.ssquiz_settings section > span{ position:absolute; top:-25px;}

.modal-backdrop, .modal-backdrop.fade.in {
	//opacity: 0.2!important;
	//filter: alpha(opacity=20)!important;
}

.modal-body {
	min-height: 400px;
}

.modal-body #wp-question-editor-container {
	margin-bottom: 20px;
}

.modal-body .answer {
	margin-bottom: 10px;
}
.modal-body .ssquiz_answer {
	margin-bottom: 10px;
}

.modal-body em {
	font-size: 13px;
}

.modal-body .correct {
	margin: 0 10px 0 15px!important;
}

.modal-body .ssquiz_answer{
	display: block;
	margin-top: 10px;
}

.modal-header span{
	background-color: #F5F5F5;
}

#ssquiz_quiz_modal, #ssquiz_question_modal {
	width: 800px;
	left: 40%;
	height: auto;
}

.ssquiz_inforamtion {
	text-align: center;
	color: #808080;
	padding: 10px 0 20px;
}

.ssquiz_manager .btn.btn-primary {
	background-color: #3A87AD;
}

.ssquiz_add_quiz {
	width: 30%
}

.cf:before, .cf:after {content: " "; /* 1 */ display: table; /* 2 */ }
.cf:after { clear: both;}
/**For IE 6/7 only. Include this rule to trigger hasLayout and contain floats.*/
.cf { *zoom: 1;}

.ssquiz_manager .pagination {
	margin: 0;
}

#ssquiz_sortable .row {
	margin-left: 0px;
}

#ssquiz_sortable {
	margin: 0px;
}

.ssquiz_add_answer {
	margin-top: 10px;
}

.confirm_delete {
	left: -585px;
}

.confirm_delete, .confirm_delete_history {
	position: absolute;
	background-color: #FFC0CB;
	padding: 5px;
	border-radius: 3px;
	margin-left: 5px;
}
.modal-footer {
	position: relative;
	overflow: hidden;
}

#TB_window  {
	z-index: 10112!important;
}

#TB_overlay {
	z-index: 10000!important;
}

.ono_wrap h4 {
	margin-top: 30px;
}

.onowrap white {
	z-index: 1!important;
}

.onowrap .onowidget-tasks-statistics:first-child {
	margin-top: 25px;
}

.fade{
    -webkit-transition:opacity 0.15s linear;
    -moz-transition:opacity 0.15s linear;
    -ms-transition:opacity 0.15s linear;
    -o-transition:opacity 0.15s linear;
    transition:opacity 0.15s linear;
    opacity:0;
}

.fade.in{
    opacity:1;
} 
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}
.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}
.modal.fade.in {
  top: 10%;
}
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-header h3 {
  margin: 0;
  line-height: 30px;
}
.modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
}
.modal-form {
  margin-bottom: 0;
}
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  *zoom: 1;
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.ono_wrap {
	padding-top: 30px;
}